body {
    margin: 0;
    justify-content: center;
    min-width: 350px;
    min-height: 100vh;
}

#root {
    margin: 0 auto;
    text-align: center;
}

.custom-pagination .swiper-pagination-bullet {
    @apply bg-pagination-bullet opacity-pagination-bullet;
}

.custom-pagination .swiper-pagination-bullet-active {
    @apply bg-pagination-bullet-active;
}